<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <!-- DB Connection pool information -->

    <Resource name="jdbc/test"
              auto="Container"
              type="javax.sql.DataSource"
              username="sys as sysdba"
              password="akqjqthsuvkfnfn!"
              driverClassName="oracle.jdbc.driver.OracleDriver"
              url="jdbc:oracle:thin:@localhost:1521:XE"
              maxWait="5000"
    />

</Context>
